.container {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
  }

  @media (max-width: 768px) {
    .container {
        width: 80%;
    }}
  
  .container label {
    margin-bottom: 8px;
  }
  
  .container select {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  